* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: -40px; /* Corrigido para -40px */
  width: 100%;
  height: 100%;
  background-size: contain; /* Ajusta o tamanho da imagem para caber no container */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca a imagem de fundo atrás dos outros elementos */
}

.button-container {
  position: absolute;
  top: 30%;
  left: 600px; /* Ajuste a margem esquerda conforme necessário */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinha os botões à esquerda */
  padding: 20px;
  text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
  color: white;
}

.button-container h1 {
  margin-bottom: 20px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.servico-button {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.servico-button:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

#btnConfirmar {
  margin-top: 20px; /* Espaçamento acima do botão 'Confirmar' */
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  width: 200px; /* Largura do botão */
}

#btnConfirmar:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.servico-button.selecionado {
  background-color: #007bff; /* Cor de fundo para botão selecionado */
  color: hsl(0, 4%, 5%); /* Cor do texto quando o botão está selecionado */
}

/* Estilos para a cesta de serviços selecionados */

.cesta-container {
  margin-top: 700px; /* Margem superior para distanciar da .button-container */
  margin-bottom: 10px; /* Espaço entre a cesta e o rodapé */
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px; /* Ajuste da largura máxima para 900px */
  text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
}

.cesta-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

#servicos-selecionados {
  list-style-type: none;
  padding: 0;
}

.servico-selecionado {
  margin-bottom: 10px;
  padding: 15px; /* Aumento do padding para 15px */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servico-selecionado .remover {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.servico-selecionado .remover:hover {
  background-color: #c82333;
}

.servico-selecionado .descricao {
  flex: 1;
  margin: 0 10px;
  font-size: 14px; /* Ajuste da fonte para 14px */
}

.servico-selecionado .preco {
  font-weight: bold;
}

.btn-padrao:hover {
  background-color: rgba(0, 123, 255, 0.8);
}
