/* Reset geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e Fonte */
body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Container Principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh; /* Usa 100% da altura da tela */
  background-image: url('assets/manicure-ferramentas-para-criar-polidores-de-gel-tudo-para-o-tratamento-de-unhas-o-conceito-de-beleza-cuidado-banner-de-salao-fundo-rosa-700-142961653.jpg');
  background-size: cover; /* Faz com que a imagem cubra toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .App {
    gap: 10px; /* Ajusta o espaço entre os botões */
  }

  /* Estilos específicos para botões */
  .servico-button {
    width: 100%; /* Botões ocupam 100% da largura */
    max-width: 300px; /* Limita a largura máxima dos botões */
    margin: 10px 0; /* Margem entre os botões */
  }
}

/* Contêiner para Título */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  width: 100%; /* Garante que ocupe toda a largura */
  margin-bottom: 50px; /* Espaço entre o título e outros elementos */
}

/* Título Moderno */
h1 {
  font-size: 2rem; /* Tamanho responsivo */
  background: linear-gradient(to right, #ce3292, #e508cb); /* Gradiente */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1.5s ease-in-out; /* Animação */
  margin-top: 10px; /* Aproxima do topo */
  margin-bottom: 20px; /* Espaço inferior */
  text-align: center;
  font-family: 'Dancing Script', cursive; /* Adiciona a fonte script */
}

/* Animação suave */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

label {
  display: block; 
  margin-bottom: 5px; 
  width: 80%; 
  text-align: left; 
  font-size: 16px; 
  font-weight: bold; 
  color: #ae2977; 
  margin-left: 80px; /* Ajuste esse valor conforme necessário */
}

/* Inputs */
.input-padrao {
  width: 60%; /* Largura consistente */
  max-width: 400px; /* Limite para telas maiores */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #68033c;
  border-radius: 5px;
  font-size: 14px; /* Melhor legibilidade */
  font-family: 'Dancing Script', cursive; /* Adiciona a fonte script */
}

/* Botões Padrão */
.servico-button {
  flex: 1; /* Altera a largura para ocupar igualmente o espaço */
  padding: 10px 15px; /* Ajusta o padding */
  font-size: 15px; /* Ajusta o tamanho da fonte */
  cursor: pointer;
  border: none;
  border-radius: 20px; /* Rounding */
  background-color: #ff66b2; /* Cor de fundo rosa */
  color: #000000; /* Cor do texto preto */
  transition: background-color 0.3s, color 0.3s; /* Efeitos de transição */
  text-align: left;
  font-family: 'Dancing Script', cursive; /* Adiciona a fonte script */
}

.servico-button:hover {
  background-color: #ff3385; /* Cor do botão ao passar o mouse */
}

/* Botões de Data e Horário */
.data-button,
.horario-button {
  flex: 1; /* Altera a largura para ocupar igualmente o espaço */
  padding: 5px 10px; /* Reduz o padding para deixar o botão menor */
  font-size: 14px; /* Ajusta o tamanho da fonte, se necessário */
  cursor: pointer;
  border: none;
  border-radius: 10px; /* Reduz o arredondamento das bordas */
  background-color: #ff66b2; /* Cor de fundo rosa */
  color: #000000; /* Cor do texto preto */
  transition: background-color 0.3s, color 0.3s; /* Efeitos de transição */
  text-align: left;
  font-family: 'Dancing Script', cursive; /* Adiciona a fonte script */
}

.data-button:hover,
.horario-button:hover {
  background-color: #ff3385; /* Cor do botão ao passar o mouse */
}

/* Mensagem de detalhes */
#detalhesAgendamento {
  margin-top: 20px;
  width: 80%; /* Largura consistente */
  text-align: center;
}

/* Contêiner para os botões */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  width: 90%; /* Largura total */
  gap: 20px; /* Espaço entre os botões */
}

/* Responsividade */
@media (max-width: 768px) {
  .input-padrao,
  .servico-button,
  .data-button,
  .horario-button {
    width: 90%; /* Ajusta para telas menores */
  }

  h1 {
    font-size: 1.5rem; /* Reduz título em telas pequenas */
  }
}
