* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif; /* Fonte mais moderna */
}

/* Container principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante que ocupe 100% da altura da tela */
  background-image: url('assets/borboletas-azuis-estampadas-em-vetor-de-fundo-preto_53876-140303.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px; /* Espaçamento interno */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Título Moderno */
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem; /* Tamanho responsivo do título */
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradiente moderno */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1.5s ease-in-out; /* Animação suave */
}

/* Animação suave para o título */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Rótulos */
label {
  display: block;
  margin-bottom: 5px;
  width: 80%; /* Mesma largura que os inputs e botões */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Inputs */
.input-padrao {
  width: 60%;
  max-width: 400px; /* Limite para telas maiores */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* Aumentado para melhor legibilidade */
}

/* Botões padrão */
.btn-padrao {
  width: 60%; /* Largura igual aos inputs */
  max-width: 400px; /* Limite para telas maiores */
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s; /* Efeito de transição */
}

.btn-padrao:hover {
  background-color: #218838; /* Efeito ao passar o mouse */
}

/* Botões de Data e Horário */
.data-button,
.horario-button {
  width: 60%; /* Largura consistente */
  max-width: 400px; /* Limite para telas maiores */
  padding: 5px;
  margin: 5px 0; /* Margem superior e inferior */
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s; /* Efeito de transição */
}

.data-button:hover,
.horario-button:hover {
  background-color: #218838;
}

/* Mensagem de detalhes */
#detalhesAgendamento {
  margin-top: 20px;
  width: 80%; /* Largura consistente com os outros elementos */
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .input-padrao,
  .btn-padrao,
  .data-button,
  .horario-button {
    width: 90%; /* Ajusta para telas menores */
  }

  h1 {
    font-size: 1.5rem; /* Reduz título em telas pequenas */
  }
}