* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Impede que a imagem de fundo se estenda além dos limites do viewport */
  background-color: black; /* Fundo preto cobrindo toda a tela */
}
.background-image {
  position: fixed;
  top: 0;
  left: 6; /* Ajustado para 0 para começar do canto esquerdo */
  width: 50%;
  height: 50%;
  background-image: url('assets/WhatsApp Image 2024-06-16 at 20.18.19.jpeg');
  background-size: cover; /* Alterado para cover para cobrir todo o elemento */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}


.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  color: white;
  z-index: 3;
}

#btnAgendamento {
  padding: 15px 80px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  z-index: 4;
}

#btnAgendamento:hover {
  background-color: rgba(0, 123, 255, 0.8);
}
footer {
  background-color: rgb(12, 10, 10);
  color: white;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1; /* Coloca o rodapé abaixo de todos os outros elementos */
}

/* Estilo para o parágrafo do rodapé */
footer p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;               /* Mantém o texto e a imagem em linha */
  justify-content: center;     /* Centraliza o conteúdo horizontalmente */
  align-items: center;         /* Alinha o texto e a imagem verticalmente */
  margin-bottom: -350px;         /* Espaço de 2px acima do footer */
  z-index: 3;                 /* Garante que a div esteja acima da imagem de fundo */
}

.social-icons p {
  margin: 0;                  /* Remove margens do parágrafo */
  color: white;               /* Cor do texto */
  font-size: 16px;            /* Tamanho da fonte */
  text-align: center;         /* Centraliza o texto */
  white-space: nowrap;        /* Evita que o texto quebre em várias linhas */
}

/* Estilo para a imagem do ícone */
.social-icons img {
  width: 30px;                /* Largura da imagem */
  height: 30px;               /* Altura da imagem */
  margin-left: 5px;           /* Um pequeno espaço à esquerda do ícone */
}
