* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column; /* Mantém a estrutura vertical */
  justify-content: flex-end; /* Posiciona os botões na parte inferior */
  overflow: hidden;
  background-color: black;
}

.background-image {
  position: fixed;
  top: -20%; /* Ajusta a imagem de fundo para cima */
  left: 0;
  width: 100%;
  height: 120%; /* Aumenta a altura para cobrir a parte inferior */
  background-image: url('assets/WhatsApp Image 2024-06-16 at 20.18.19.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-bottom: 10px; /* Diminui o espaçamento entre os botões e o rodapé */
}

.button-container {
  display: flex; /* Flexbox para alinhar os botões lado a lado */
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin: 10px 0; /* Diminui a margem para aproximar os botões do rodapé */
  z-index: 3;
}

#btnAgendamento, #btnCancelamento {
  padding: 15px 20px; /* Ajusta o padding para o botão */
  font-size: 16px; /* Tamanho fixo da fonte */
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  width: 160px; /* Define uma largura fixa para ambos os botões */
  margin: 0 10px; /* Espaçamento horizontal entre os botões */
}

#btnAgendamento:hover, #btnCancelamento:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

footer {
  background-color: rgb(12, 10, 10);
  color: white;
  text-align: center;
  padding: 10px 0; /* Ajustado para diminuir a altura do rodapé */
  width: 100%;
  z-index: 4;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajustado para 10px de margem no topo dos ícones */
}

.social-icons a {
  margin: 0 10px; /* Ajustado para 10px de margem horizontal entre os ícones */
}

.social-icons img {
  width: 30px; /* Tamanho fixo dos ícones */
  height: auto; /* Altura automática para manter a proporção */
}

/* Estilos responsivos */
@media (max-width: 768px) { /* Para dispositivos móveis */
  #btnAgendamento, #btnCancelamento {
    width: 120px; /* Ajuste a largura dos botões para caber em telas menores */
    font-size: 14px; /* Reduz o tamanho da fonte para melhor legibilidade */
  }

  .background-image {
    height: 130%; /* Aumenta a altura para cobrir a parte inferior em telas menores */
  }

  footer {
    padding: 8px 0; /* Diminui o padding do rodapé em dispositivos móveis */
  }
}

@media (min-width: 769px) { /* Para telas maiores, como tablets e desktops */
  #btnAgendamento, #btnCancelamento {
    width: 180px; /* Largura maior para botões em telas grandes */
    font-size: 18px; /* Tamanho da fonte maior para melhor legibilidade */
  }

  .background-image {
    height: 100%; /* Ajuste a altura da imagem para telas grandes */
  }

  footer {
    padding: 12px 0; /* Aumenta o padding do rodapé em telas grandes */
  }
}